<div class="row">
  <div class="col-xs-12">
    <div class="showPostAdmin">
      <%= link_to root_url(subdomain: @author.subdomain)do%>
        <h1><span class="yellow"><%= @author.first_name%></span><%= @author.last_name%></h1>
      <%end%>
    </div>
  </div>
</div>
