<div class="row">
  <iframe id="advanced_iframe" name="advanced_iframe" src="<%=@calendly_link%>"; width="100%" height="1000" frameborder="0" border="0" allowtransparency="true" onload=";setTimeout(function() { aiResizeIframe(ifrm_advanced_iframe, &quot;false&quot;); },2);"></iframe>
</div>

