<div class="row fullHeight" id="top">
	<div id="navBar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName avatar">
					<%= image_tag @user.twitter_avatar, :class=>"profileImg img-circle"%>
					<h1><%=@user.first_name%><span class="yellow"><%= @user.last_name%></span></h1>
					<div class="twitterInfo" class="links">
						<%= link_to @twitterLink, :target=>"_blank" do%>
							<h5>@<%= @user.username %></h5>
							<h6>
								<%= @user.number_statuses%> <i class="fa fa-comment"></i>
								<%= @user.number_followers%> <i class="fa fa-users"></i>
								<%= @user.rating%> <i class="fa fa-heart"></i>
							</h6>
						<%end%>
					</div>
				</div>
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<li>
						<h3><a href="#projects">Projects</a></h3>
					</li>
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#connect">Connect</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ABOUT ME -->
	<div class="aboutMeCol col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-lg-6">
		<div id="about" class="verticalCenter">
			<hr>
				<!-- USER BIO -->
				<h3>
					<%if @user.bio.present? %>
						<%= @user.bio%>
					<%else%>
						Hello I am @<%= @user.username.capitalize %>
					<%end%>
				</h3>
			<hr>
		</div>
	</div>
</div>

<div class="projectRows">
	<ul id="projects" data-update-url="<%= sort_projects_url %>">
		<%= render 'projects' %>
	</ul>
</div>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<hr>
		<div class="row">
			<div class="col-xs-12 center links">
				<h1 class="jumboName" id="newProjectButton">New Project</h1>
			</div>
		</div>
	<%end%>
<%end%>
<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= render 'newProject' %>
		<hr>
	<%end%>
<%end%>

<br>
<div class="row fullWidth">
	<div class="col-xs-12">
		<!-- <div id='legend' style='display:none;'>
		  <nav class='legend clearfix'>
		  	<h6>Post | Tweet</h6>
		    <span style='background:#FFCC00;'></span>
		    <span style='background:#4099FF;'></span>
		  </nav>
		</div> -->
		<div id="map" class="mapSection", data-url="/users/<%= @user.id %>.json"></div>
	</div>
</div>

<% if user_signed_in? %>
	<hr>
	<% if current_user.id == @user.id %>
		<div class="row">
			<div class="col-xs-12 center">
				<h1 class="jumboName" id="newPostButton">New Post</h1>
			</div>
		</div>
	<%end%>
<%end%>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= render 'newPost' %>
	<%end%>
<%end%>

<div class="row">
	<!-- Content -->
	<div class="col-xs-8 col-xs-offset-2" id="content">
		<div id="content_details">
			<%= render 'content' %>
		</div>
		<div id="paginator" class="pagFooter">
			<h4><%= paginate @contents%></h4>
		</div>
	</div>
</div>

<hr>
<div class="footer">
	<div class="row" id="connect">
		<div class="col-xs-12">
			<h4 class="center links">
				<%= link_to @twitterLink, :target => "_blank" do %>
					<i class="fa fa-twitter"></i>
				<% end %>
			</h4>
			<h6 class="center">
				Made with love in
				<a href="http://rubyonrails.org" target="_blank">
					<span class="ruby">RoR</span>
				</a> by
				<%= link_to root_url(:subdomain => :wesadvance) do%>
					<span class="yellow">Wesley Vance</span>
				<%end%>
			</h6>
		</div>
	</div>
</div>

<!-- <%= debug @geojson %> -->
<div class="topBottonBox">
	<a href="#top">
		<i class="fa fa-chevron-up pull-right topButton"></i>
	</a>
</div>
