<div class="row fullHeight" id="top">
	<div id="navBar" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center">
		<div class="sideBarSection">
			<div class="profile">
				<div class="profileName avatar">
					<%= image_tag @user.twitter_avatar, :class=>"profileImg img-circle"%>
					<h1><%=@user.first_name%><span class="yellow"><%= @user.last_name%></span></h1>
					<div class="twitterInfo" class="links">
						<%= link_to @twitterLink, :target=>"_blank" do%>
							<h5>@<%= @user.username %></h5>
							<h6>
								<%= @user.number_statuses%> <i class="fa fa-comment"></i>
								<%= @user.number_followers%> <i class="fa fa-users"></i>
								<%= @user.rating%> <i class="fa fa-star"></i>
							</h6>
						<%end%>
					</div>
				</div>
			</div>
			<hr class="navBreak">
			<div class="navBarLinks">
				<ul class="links">
					<li>
						<h3><a href="#projects">Projects</a></h3>
					</li>	
					<li>
						<h3><a href="#map">Blog</a></h3>
					</li>
					<li>
						<h3><a href="#connect">Connect</a></h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- ABOUT ME -->
	<div class="aboutMeCol col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-lg-6">
		<% if current_user.id == @user.id%>
			<div class="adminBar right">
		  	<h4>
					<!-- FUTUER LINKS TO DO ACTIONS -->
		  	</h4>
		  </div>
		<% end %>
		<div id="about" class="aboutMeSection">
			<hr>
				<!-- USER BIO -->
				<h3>
					<%= @user.bio%>
				</h3>
			<hr>
		</div>
	</div>
</div>
<hr>

<div class="row fullWidth">
	<div class="col-xs-12">
		<div id="map" class="mapSection", data-url="/users/<%= @user.id %>.json"></div>
	</div>
</div>


<div class="row">
	<!-- Content -->
	<div class="col-xs-8 col-xs-offset-2">
		<% if @contents.count > 0 %>
			<% @contents.each do |content| %>
				<hr>
				<div class="blogSection" id="blog">
					<div class="row links" id="<%= content.id %>">
						<div class="blogPost">
							<div class="blogImage">
								<% if content.image.present? %>
									<div class="col-xs-12 col-sm-3 center">
										<%= link_to content.image do%>
											<br>
											<%= image_tag content.image, :width=>"200px", :height=>"200px;", :class=>"img-responsive center thumbnail", :target => "_blank" %>
										<%end%>
									</div>
								<%end%>
							</div>
							<div class="col-xs-12 <% if content.image.present? %>col-sm-9<%end%>">
								<div class="blogTitle">
									<%= link_to("/contents/"+content.id.to_s) do%>
										<% if content.title.present? %>
											<h1><%= content.title %></h1>
										<%elsif content.kind.present? %>
											<h1><%= content.kind.capitalize%>:</h1>
										<%else%>
											<h1>Content:</h1>
										<%end%>
									<%end%>
								</div>
								<div class="blogTags">
									<h6 class="childElement">
										<% if content.created.present?%> 
											<%= formatDate(content.created) %> 
										<%end%>
										
										<% if content.location.present?%> 
			              	at <%= content.location%>
			              <%elsif content.city.present? || content.state.present?%>
			              	at <%= content.city %> <%= content.state%>
			            	<%end%>
		            	</h6>
								</div>
								<div class="blogBody">
									<% if content.body.present? %>
										<p><%= markdown(content.body.truncate(400, separator: '', omission: '...')).html_safe  %></p>
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			<%end%>
		<%end%>
		<div class="pagFooter">
			<h4><%= paginate @contents %></h4>
		</div>
	</div>
</div>

<div class="footer">
	<div class="row" id="connect">
		<div class="col-xs-12">
			<h4 class="center links">
				<%= link_to @twitterLink, :target => "_blank" do %>
					<i class="fa fa-twitter"></i>
				<% end %>
			</h4>
			<h6 class="center">Made with love in <a href="http://rubyonrails.org" target="_blank"><span class="ruby">RoR</span></a></h6>
		</div>
	</div>
</div>

<div class="topBottonBox">
	<a href="#top"><i class="fa fa-chevron-up pull-right topButton"></i></a>
</div>