<div class="row center emailResponseForm">
  <!-- <h1>Get My Awesome News Letter</h1> -->
  <p>Subscribe and get RoR and Startup Tips!</p>
  <div id="response"></div>
  <%= form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true", class:"formSubscribe") do -%>
     <%= email_field(:email, :address, {id: "email", class:"form-group", placeholder: "Email Address", required: true}) %>
     <%= submit_tag("Sign Up!", class: "btn btn-default") %>
  <% end %>
</div>
