.w10{
	color:black;
}
 .w9{
	color:black;
}
 .w8{
	color:black;
}
 .w7{
	color:black;
}
 .w6{
	color:black;
}
 .w5{
	color:black;
}
 .w4{
	color:black;
}
 .w3{
	color:black;
}
 .w2{
	color:black;
}
 .w1{
	color:black;
}
