@import 'styles';

.simple-calendar {
  .day {
    font-size: 14px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: $backgroundLight !important;
    color: $secondary !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color:$white !important;
    background-color: $secondary !important;
    a{
      color:$white;
    }
    a:visited{
      color:$white;
    }
  }
  .next-month {
    color:$white !important;
    background-color: $secondary !important;
    a{
      color:$white;
    }
    a:visited{
      color:$white;
    }
  }
  .current-month {
    color: $secondary;
    background-color: $noCalEvents;
  }

  .has-events {
    background-color:$hasCalEvents;
  }
}
