// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentWrapper{
  margin-top: -20px;
  .commentEmail{
    width:100%;
  }
  .commentBody{
    width:100%;
  }
  .commentAvatar{
    .commentImage{
      margin-top: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 70px;
    }

  }
  .commentMeta{
    margin-top: -15px;
    margin-bottom: -15px;
  }
  p{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
  }
}
.control-label{
  margin-top: -7px;
}
