.form-control{
  border:none;
  border-color: black;
  box-shadow: none;
}
.form-control:focus {
  border:none;
  border-color: black;
  box-shadow: none;
  outline:none;
}

/* LABEL ======================================= */
label {
  color:black;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:20px;
  top:5px;
}

textarea{
  border:none;
  box-shadow: none;
  border-color: black;
  resize: none;
  font-size: 18px !important;
  line-height: 30px !important;
}

.postTitle{
  input[type="text"]{
    font-size:42px;
    color:black;
  }
  .form-control{
    height:60px;
  }
}

