.form-control{
  border:none;
  border-color: black;
  box-shadow: none;
}
.form-control:focus {
  border:none;
  border-color: black;
  box-shadow: none;
  outline:none;
}

/* LABEL ======================================= */
label {
  color:black; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:20px;
  top:5px;
}

