.form-control{
  border:none;
  border-color: black;
  box-shadow: none;
}
.form-control:focus {
  border:none;
  border-color: black;
  box-shadow: none;
  outline:none;
}

/* LABEL ======================================= */
label {
  color:black;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  right:20px;
  top:5px;
}

textarea{
  border:none;
  box-shadow: none;
  border-color: black;
  resize: none;
  font-size: 18px !important;
  line-height: 30px !important;
}

input.formText{
  border:none;
  box-shadow: none;
  border-color: black;
  resize: none;
  font-size: 18px !important;
  line-height: 30px !important;
}

input.btn.btn-link{
  text-decoration: none;
  color:black;
  font-size: 18px !important;
  line-height: 30px !important;
}

input.btn.btn-link:hover{
  color:#FFCC00;
}

input.btn.btn-link:hover{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

input.btn.btn-link{
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.postTitle{
  input[type="text"]{
    font-size:42px;
    color:black;
  }
  .form-control{
    height:60px;
  }
}
