$secondary: #464646; //Dark Grey
$accent: #FFCC00; //Yellow

$backgroundLight: #EFEFEF; //Light Grey
$white: #FFFFFF; //White...

$hasCalEvents: #D6F5D6; //Light Green
$noCalEvents: #EFEFEF; //Light Red
