// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "styles";

#welcomeContainer{
  padding-top:60px;
  .recentContentPost{
    max-height: 150px;
  }

  .welcomeContentFooter{
    background-color: $secondary;
    color: $white;
    height:300px;
  }
}
